apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: infra
data:
  tempo.yaml: |
    server:
      http_listen_port: 3200
      grpc_listen_port: 9096

    distributor:
      receivers:
        otlp:
          protocols:
            grpc:
              endpoint: 0.0.0.0:4317
            http:
              endpoint: 0.0.0.0:4318

    ingester:
      max_block_duration: 5m

    compactor:
      compaction:
        block_retention: 24h

    metrics_generator:
      registry:
        external_labels:
          source: tempo
          cluster: neolaas
      storage:
        path: /tmp/tempo/generator/wal
        remote_write:
          - url: http://prometheus.infra.svc.cluster.local:9090/api/v1/write
            send_exemplars: true

    storage:
      trace:
        backend: local
        wal:
          path: /tmp/tempo/wal
        local:
          path: /tmp/tempo/blocks

    overrides:
      defaults:
        metrics_generator:
          processors: [service-graphs, span-metrics]
